package components

templ CrtOverlay() {
	<div id="crt-overlay" aria-hidden="true">
      <div className="scanlines" />
      <div className="dither" />
      <div className="vignette" />
    </div>
}
