package components

import (
	"gabsdev-go/internal/utils"
	"strconv"
)

templ PixelIcon(name string, size int) {
	<svg
		width={ strconv.Itoa(size) }
		height={ strconv.Itoa(size) }
		viewBox="0 0 16 16"
		class="picon"
		style="shape-rendering: crispEdges;"
	>
		<g fill="currentColor">
			@templ.Raw(utils.IconSVG(name))
		</g>
	</svg>
}
