package components

import (
	"gabsdev-go/internal/domain"
	"gabsdev-go/internal/i18n"
)

templ PostList(lang i18n.Lang, posts []domain.Post, activeTag string) {
	for _, post := range posts {
		@PostRow(lang, post, activeTag)
	}
}
